packer/credentials.pkr.hcl
packer/credentials-ensibs.pkr.hcl
terraform/credentials.tfvars
terraform/gitea/credentials.tfvars
terraform/credentials-ensibs.tfvars
terraform/credentials-homelab.tfvars
terraform/credentials-ensibs.tfvars
*.tfstate
*.tfstate.backup
*.terraform.lock.hcl
*.terraform
ansible/secrets.yml
ansible/secrets_drone.yml
res/tools/users_auth/input.csv
res/tools/users_auth/creds.pdf
res/tools/users_auth/forti_create.txt
res/tools/users_auth/forti_delete.txt
res/tools/users_auth/users.other
res/tools/pfsense_to_ansible/*.yaml
res/tools/pfsense_to_ansible/config-*.xml
cli/config.json
cli/generated_files/
*cli-file*